{% load static %}
<div class="cart-line__img-wrap{% if size_class %} {{ size_class }}{% endif %}">
  {% with line.product.primary_images|first as primary_image %}
  {% if primary_image %}
  <img src="{{ primary_image.image.url }}"
       alt="{{ primary_image.alt_text|default:line.product.name }}"
       class="cart-line__img"
       loading="lazy"
       width="64"
       height="64">
  {% else %}
  <img src="{% static 'img/product-placeholder.svg' %}"
       alt="{{ line.product.name }}"
       class="cart-line__img cart-line__img--placeholder"
       loading="lazy"
       width="64"
       height="64">
  {% endif %}
  {% endwith %}
</div>
